body {
  color: #474747;
}

button {
  color: #474747;
}

ul {
  padding-inline-start: 0;
  padding: 15px;
}

li {
  list-style: none;
  padding: 15px;
}

.subList__box {
  border: 1px solid #c4c4c4;
  padding: 25px;
  margin: 5px 0;
}

.listForm {
  margin-top: 50px;
  margin-left: 20px;
}

.appBtns {
  margin-top: 100px;
}

.subList__Box {
  margin-top: 25px;
  padding: 25px;
}

.listAdd {
  margin-top: 30px;
}

.subList__box_text {
  margin-bottom: 20px;
}

.arrows {
  margin: 10px 0;
}

.list__inner {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.subList__box {
  min-width: 700px;
}

input {
  padding: 8px;
  border-color: #c4c4c4;
  ;
}

.delList__btn, .addList__btn, .upBtn, .downBtn {
  display: inline-block;
  margin: 5px;
  border: none;
  background-color: #c4c4c4;
  font-size: 14px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.subList__box_text {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-left: 5px;
}

.subList__form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.subList__mainForm {
  margin-top: 100px;
  max-width: 400px;
}